@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 10% 95%;
    --foreground: 0 5% 10%;
    --card: 0 10% 90%;
    --card-foreground: 0 5% 15%;
    --popover: 0 10% 95%;
    --popover-foreground: 0 95% 10%;
    --primary: 0 98% 12%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 10% 78%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 10% 85%;
    --muted-foreground: 0 5% 40%;
    --accent: -38 10% 80%;
    --accent-foreground: 0 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 20% 78%;
    --input: 0 20% 50%;
    --ring: 0 98% 12%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 10% 10%;
    --foreground: 0 5% 90%;
    --card: 0 10% 10%;
    --card-foreground: 0 5% 90%;
    --popover: 0 10% 5%;
    --popover-foreground: 0 5% 90%;
    --primary: 0 98% 12%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 10% 25%;
    --muted-foreground: 0 5% 65%;
    --accent: -38 10% 25%;
    --accent-foreground: 0 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 5% 90%;
    --border: 0 20% 50%;
    --input: 0 20% 50%;
    --ring: 0 98% 12%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
